# Ignore Python cache files
__pycache__/
*.py[cod]

# Temporary and backup files
*.tmp
*.bkp
*.bk

# Architecture folder backups
architecture/*.drawio.bk
architecture/*.bkp
architecture/*.tmp


# Ignore virtual environments
venv/
env/
.venv/

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.sublime-project
